.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: scale infinite 2s linear;
  }
}
.click-move {
  animation: move 2s ease-in-out forwards
}
.click-rotate {
  animation :chenfangting infinite 1.5s ease-in-out;
}
.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes chenfangting {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes move {
  from {
  }
  to {
    transform: translateX(100vh);
  }
}
@keyframes scale {
  0% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1.25);
  }
  70% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.15);
  }
}
